  <%= form_for(@politician) do |pol| %>
  <%= render 'shared/error_messages', object: pol.object %>

  <%= pol.label :name %>
  <%= pol.text_field :name %>
  <br />
  <%= pol.label :party %>
  <%= pol.text_field :party %>
  <br />

  <%= pol.collection_check_boxes :slogan_ids, Slogan.all, :id, :name, {}, {class: "pol-select"} %>
  <br />

  <h3>Slogans</h3>
  <h4>Create new:</h4>
	  <%= pol.fields_for :slogans, Slogan.new do |slogan| %>
	  	<%= slogan.label :name, "New Slogan: " %>
	  	<%= slogan.text_field :name%>
	  <% end %>


  <h4>Edit existing:</h4>

  <%= pol.fields_for :slogans do |slogan| %>
  	<%= slogan.label :name, slogan.object.name %>
  	<%= slogan.text_field :name%>
  	<% if slogan.object.persisted? %>
      <%= slogan.label :_destroy, "Delete Slogan?" %>
      <%= slogan.check_box :_destroy %>
    <% end %>
    <br />
  <% end %>


  <%= pol.submit %>

  <% end %>