<!DOCTYPE html>
<html>
<head>
  <title>AdvForms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="row">
<p><%= link_to "Index",politicians_path %></p>
</div>
</div>
<%= yield %>

</body>
</html>
